/*兑换*/

.exchange_modal{
	margin: 0.9375rem 0 0;
	padding:0 0.46875rem;
}
.exchange_modal input{
	width:100%;
	height: 1.25rem;
	border:1px solid #d7d7d7;
	border-radius: 0.15625rem;
	padding: 0 0.3125rem;
	font-size: 0.40625rem;
	color:#000;
}
.exchange_modal a{
	display: block;
	width:100%;
	height: 1.25rem;
	background-color: #ff5c4d;
	margin-top: 0.46875rem;
	border-radius:0.15625rem;
	text-align: center;
	line-height: 1.25rem;
	color: #fff;
	font-size:0.46875rem;
			
}



.exchange_tips{
	padding: 0 0.3125rem;
	color:#999;
	position:absolute;
	bottom:0.46875rem;
	font-size: 0.34375rem;
	line-height: 1.5;

}
.exchange_tips .exchange_tips_title{
	margin: 0.15625rem 0;
}


body{
	background-color: #fff;
	position: relative;
}


.showExchange{
	position:fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999999999;
}
.showExchange .signInMask{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left: 0;
	background-color:black;
	opacity:0.5;
}

.showExchange .signInWrap{
	width:7.03125rem;
	/*height:4.6875rem;*/
	border-radius:0.15625rem;
	background-color: #fff;
	position: absolute;
	top:50%;
	left:50%;
	margin-left: -3.515625rem;
	margin-top:-2.34375rem;
	z-index:  99999999999;
}

.showExchange .signIntitle{
	width:80%;
	/*height: 0.859375rem;*/
	margin:0.234375rem auto 0.46875rem;
	/*background: url('../img/sign.png') no-repeat left top;
	background-size: 100% 100%;*/
	text-align: center;
	/*color:#fff;*/
	font-size:0.46875rem;
}

.showExchange .signInContent p{
	/*text-align:center;*/
	font-size: 0.40625rem;
	line-height: 1.5;
	color:#646464;
	padding: 0  0.3125rem  0.390625rem;
	text-align: center;
}
.showExchange .signInContent p span{
color:#ff5b4c;
}
.showExchange a{
	display: block;
	width:4.921875rem;
	height:1.09375rem;
    line-height: 1.09375rem;
	text-align: center;
	color:#fff;
	background-color: #ff5b4c;
	margin: 0 auto 0.390625rem ;

	font-size: 0.46875rem;
	text-decoration: none;
	border-radius: 0.15625rem;
}






