
.app-Head{
	width:100%;
	overflow:hidden;
	background-color: #fff;
	padding:0 0.31rem;
	font-size:0.38rem;
	height: 1.25rem;
	line-height: 1.25rem;
}

.app-Head p a{
	font-size:0.38rem;
}

 .app-Head .app-otherPage a{
		margin: 0 0.08rem;
 }
.app-Head .app-recharge{
	color:#ff5c4d;
}































